@model IEnumerable<bugtracker.Models.Bug>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function ChangeColor(tableRow, highLight) {
        if (highLight) {
            tableRow.style.backgroundColor = '#9ff';
        }
        else {
            tableRow.style.backgroundColor = 'white';
        }
    }

    function DoNav(theUrl) {
        document.location.href = theUrl;
    }
</script>

<h2>Your subscriptions</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Criticality
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onmouseover="ChangeColor(this, true);" 
              onmouseout="ChangeColor(this, false);" 
              onclick="loadPartialView('/Bugs/Details/@item.ID', 'detailview');">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getCriticalityTypeString(item.Criticality))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityID)
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getStatusTypeString(item.StatusID))
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getBugTypeString(item.BugTypeID))
        </td>
    </tr>
}

</table>