@using bugtracker
@model IEnumerable<bugtracker.Models.Bug>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function ChangeColor(tableRow, highLight) {
        if (highLight) {
            tableRow.style.backgroundColor = '#9ff';
        }
        else {
            tableRow.style.backgroundColor = 'white';
        }
    }

</script>

<h2>List of bugs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLinkWithColumnOrder("Criticality", "Index", (string)ViewBag.sortColumn, (bool)ViewBag.asc)
        </th>
        <th>
            @Html.ActionLinkWithColumnOrder("Priority", "Index", (string)ViewBag.sortColumn, (bool)ViewBag.asc)
        </th>
        <th>
            @Html.ActionLinkWithColumnOrder("Status", "Index", (string)ViewBag.sortColumn, (bool)ViewBag.asc)
        </th>
        <th>
            @Html.ActionLinkWithColumnOrder("Type", "Index", (string)ViewBag.sortColumn, (bool)ViewBag.asc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onmouseover="ChangeColor(this, true);" 
              onmouseout="ChangeColor(this, false);" 
              onclick="loadPartialView('/Bugs/Details/@item.ID', 'detailview');">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getCriticalityTypeString(item.Criticality))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityID)
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getStatusTypeString(item.StatusID))
        </td>
        <td>
            @Html.Label(bugtracker.Controllers.DataController.getBugTypeString(item.BugTypeID))
        </td>
    </tr>
}

</table>